.utility-inner a{
	color: #777777;
}

.utility-inner a:hover{
	color: #000000;
}

footer.social .social-icons{
	margin: 0px 0px 40px 0px;
}

footer.social .social-icons li:last-child{
	margin-right: 0px;
}

.feature ul{
	list-style: disc;
	margin-left: 20px;
}

.centered-logo .logo{
	max-height: 72px;
}