html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333333;
}

body {
    margin: 0%;
    padding: 24px;
}

.container {
    width: 520px;
    padding: 0;
    margin: 0 auto;
    text-align: left;
}

.container p, .container li {
    font-size: 15px;
    line-height: 1.4;
}

h1 {
    margin: 0%;
    padding: 0%;
    font-size: 40px;
    line-height: 1;
    font-weight: 800;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    text-align: right;
    line-height: 26px;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

ul.ways-to-contact {
    margin: 2rem 0 0 0;
    padding: 0%;
}

ul.ways-to-contact li {
    list-style: none;
    margin-bottom: 1em;
}

ul.ways-to-contact li::before {
    content: '\00B7';
}

ul.ways-to-contact li span.description {
    display: block;
    color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 720px) {
    ul.ways-to-contact li span.description {
        display: none;
    }
    ul.ways-to-contact li:hover span.description {
        display: inline;
    }
}

@media only screen and (max-width: 640px) {
    .container {
        width: 100%;
    }
}
